body {
    background-color: #1C253A;
    color: #EFEDF0;
    margin: 0;
}

.carta {
    background-color: #428BA0;
    height: 150px;
    margin: 20px 25px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
    width: 6%;
}

.alzada {
    box-shadow: -5px 5px 5px #C5445B;
    margin-left: 20px;
    margin-top: 15px;
}

.fichadelante {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.fichaatras {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    transform: rotateY(180deg);
    width: 100%;
}

.carta:hover {
    box-shadow: 5px 5px 5px #C5445B;
    margin-left: 20px;
    margin-top: 15px;
}

.alzada:hover {
    box-shadow: -5px 5px 5px #C5445B;
}

.fichaatras img {
    width: 70%;
}

.fichadelante img {
    width: 70%;
}

#cabecera {
    align-items: center;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: space-around;
    width: 100%;
}

#tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

#end {
    background-color: #C5445B;
    display: none;
    margin: 50px 5%;
    padding: 270px 0;
    text-align: center;
    width: 90%;
}

#cabecera button {
    background-color: #C5445B;
    box-shadow: 3px 3px #1C253A;
    color: #EFEDF0;
    height: 30px;
    margin: 0;
    outline: none;
    transition: 1s linear;
}

#cabecera h3 {
    margin: 0;
}