body {
    background-color: #50635D;
}

canvas {
    border: 2px solid black;
    background-color: aquamarine;
}

div {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    color: rgb(106, 255, 0);
}

#score {
    font-size: 30;
    color: red;
}