<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Actividad 17</title>
    <link rel="stylesheet" href="../statics/act17.css">
</head>

<body>
    <canvas id="canvas"></canvas>
    <div class="controles">
        <button id="iniciar">Iniciar</button>
        <button id="pausar">Pausar</button>
        <button id="intervalo">Intervalo</button>
        <button id="parar">Parar</button>
    </div>
    <div id="intervalos"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../dynamics/act17.js" charset="utf-8"></script>
</body>

</html>